// your workflow parameters
params {
  
  sample_sheet = ''  // CSV of the sample ~ barcode relations. Columns: Sample,Barcode_dir (may have other)
  fastq_dir = 'fastq'  // The directory that contains the barcode directories of FASTQ files
  barcode_prefix = 'barcode'  // The prefix for the individual barcode directories as output by the sequencer

  reference_dir = ''  // dir of reference sequence Genbank files. Filenames (without extension) must match 'Sample' column entries
  projectname = 'Noname'  // display in PDF


  // Analysis pipeline
  max_len_fraction = 1.5  // For calculating max length of filtered FASTQ reads, to avoid plasmid dimers
  quality_cutoff = 10  // For NanoFilt
  min_length = 500  // nucleotides
  freebayes.args = '--ploidy 1 --min-alternate-fraction 0.1 --min-alternate-count 2 --min-base-quality 20'


  // Review pipeline
  assembly_plan = ''  // Optional: the assembly plan CSV of the DNA constructs, one per line: Sample,Part_1,Part_2, etc. Must have a header line.
  all_parts = ''  // FASTA file that contains all sequences to compare against

  fastq_filtered_dir = 'results/dir2_analysis/n2_fastq_filtered'  // The directory that contains the filtered FASTQ files
  consensus_dir = 'results/dir2_analysis/n6_consensus'  // contains the consensus FASTA sequences

  consensus_columname = 'Review_consensus'
  consensus_true = '1'  // marker for performing review

  denovo_columname = 'Review_de_novo'
  denovo_true = '1'  // marker for performing review

  assembly_prefix = 'egf'
  canu_postfix = '.contigs.fasta'  // hardcoded into canu

}

// include basic process configuration options
includeConfig 'conf/base.config' 
