// Basic information about the workflow
manifest {
  name = 'sequeduct'
  description = 'Sequencing analysis pipeline (aqueduct) for validating plasmids, using long reads.'
  version = '0.2.3'
  homePage = 'https://github.com/Edinburgh-Genome-Foundry/Sequeduct.git'
  author = 'Peter Vegh'
  nextflowVersion = '>=21.10.6'
}

// Default configuration
executor {
	name = 'local'
	cpus   = 4
	memory = 8.GB
}

process {
	executor = 'local'
	cpus = 2
	memory = 4.GB
	shell = ['/bin/bash', '-euo', 'pipefail']
}

// Export this variable to prevent local Python libraries 
// from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// PROFILE CONFIGURATIONS
profiles {

  docker {
      docker.enabled         = true
      docker.userEmulation   = true
      singularity.enabled    = false
      podman.enabled         = false
      shifter.enabled        = false
      charliecloud.enabled   = false

      // specify the container to be used
      process.container = "ghcr.io/edinburgh-genome-foundry/sequeduct:v0.2.3"
  }

  singularity {
      singularity.enabled    = true
      singularity.autoMounts = true
      docker.enabled         = false
      podman.enabled         = false
      shifter.enabled        = false
      charliecloud.enabled   = false

      // specify the container to be used
      process.container = "ghcr.io/edinburgh-genome-foundry/sequeduct:v0.2.3"
  }
  
  // Son of Grid Engine configuration
  sge {
	  includeConfig 'sge.config'
  }

}

// configuring log information
timeline {
  enabled = true
  file = "logs/execution_timeline.html"
}

report {
  enabled = true
  file = "logs/execution_report.html"
}

trace {
  enabled = true
  file = "logs/execution_trace.txt"
}