// define resources available for SGE
executor {
	name = 'sge'
	cpus   = 32
	memory = 96.GB
	queueSize = 50
}
	
process {
	executor='sge'
  	queue='all.q'
	penv='smp'

	// Specify the bash SGE should use.
	// This should be configured on the cluster, but often it is not.
	// By doing this, you avoid the pipeline hanging due to bad interpreter error.
	clusterOptions="-S /bin/bash"

	withLabel:process_low {
		cpus = 1
		memory = 2.GB
	}
	withLabel:process_medium {
		cpus = 4
		memory = 8.GB
	}
	withLabel:process_high {
		cpus = 8
		memory = 16.GB
	}

	withLabel:process_ultra {
		cpus = 16
		memory = 48.GB
	}
}